mysqld_exporter_node1:
  image: prom/mysqld-exporter:latest
  restart: always
  entrypoint:
    - /bin/mysqld_exporter
    - --collect.info_schema.innodb_metrics
    - --collect.global_status
    - --collect.info_schema.innodb_tablespaces
    - --collect.info_schema.query_response_time
    - --collect.global_variables
  environment:
    - DATA_SOURCE_NAME=root:root_password@tcp(node1:3306)/
  depends_on:
    - node1
  networks:
    - wp_network

mysqld_exporter_node2:
  image: prom/mysqld-exporter:latest
  restart: always
  entrypoint:
    - /bin/mysqld_exporter
    - --collect.info_schema.innodb_metrics
    - --collect.global_status
    - --collect.info_schema.innodb_tablespaces
    - --collect.info_schema.query_response_time
    - --collect.global_variables
  environment:
    - DATA_SOURCE_NAME=root:root_password@tcp(node2:3306)/
  depends_on:
    - node2
  networks:
    - wp_network

mysqld_exporter_node3:
  image: prom/mysqld-exporter:latest
  restart: always
  entrypoint:
    - /bin/mysqld_exporter
    - --collect.info_schema.innodb_metrics
    - --collect.global_status
    - --collect.info_schema.innodb_tablespaces
    - --collect.info_schema.query_response_time
    - --collect.global_variables
  environment:
    - DATA_SOURCE_NAME=root:root_password@tcp(node3:3306)/
  depends_on:
    - node3
  networks:
    - wp_network 